[submodule "project-repos/project-1"]
	path = project-repos/project-1
	url = git@github.com:Harin23/c-project-1-unit-converter-cli.git
[submodule "project-repos/project-2"]
	path = project-repos/project-2
	url = git@github.com:Harin23/c-project-2-guess-the-number.git
[submodule "project-repos/project-3"]
	path = project-repos/project-3
	url = git@github.com:Harin23/c-project-3-grade-calculator.git
